@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
}

body {
    font-family: "Outfit", sans-serif;
    color: #052542;
    background-color: #e0ecf2;
}

div.break {
    height: 2px;
    background-color: #052542;
    margin: 1rem 0;
}

main {
    display: flex;
    background-color: #cad4da;
}

h1 {
    word-spacing: 0.5rem;
    line-height: 2rem;
}

ul {
    list-style-type: none;
    padding-inline-start: 1rem;

    i {
        display: block;
    /*alinhar os icones*/
    }
}

h2 {
    text-transform: uppercase;
}

span {
    background-color: #e0ecf2;
    padding: 1rem;
    box-shadow: 0px 0px 10px #00000066;
}

div.progress-bar {
    border-radius: 5px;
    background-color: #05254233;
    text-align: end;

    .fill {
        border-radius: 5px;
    }

    .value {
        color: #e0ecf2;
        padding-right:0.25rem;
    }
}

/* Skills */
    .skill-1 .fill {
        background-color: #7b4536;
    }

    .skill-2 .fill {
        background-color: #17459a;
    }

    .skill-3 .fill {
        background-color: #7b8049;
    }

    .skill-4 .fill {
        background: linear-gradient(180deg, #285880 50%, #82875b 50%);
    }

/* Langs */
    .lang-1 .fill {
        background-color: #4F7D4F; /*#3AD43A*/
    }

    .lang-2 .fill {
        background-color: #7D4E4E;
    }

span.right-column {
    margin: 1rem;
    border-radius: 10px;
    min-width: 69%;
}

footer {
    background-color: #e0ecf2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    color: #052542;
}

a:hover {
    color: #73899a;
}